<?xml version="1.0" ?>
<robot name="tartinator" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="silver">
        <color rgba="0.75 0.75 0.75 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>
</robot>   